

<div class="container">
  <div class="row">
    <div class="col-12">
        <table class="new-form-table mx-auto">
        <h2 class="mx-auto mt-5">商品編集</h2>
          <tbody>
            <%= form_with model: @item ,url: admin_item_path do |f| %>
            <tr>
              <th>商品画像</th>
              <td><%= f.file_field :image, accept: "image/*" %></td><br>
            </tr>
            <tr>
              <th>商品名</th>
              <td><%= f.text_field :name %></td><br>
            </tr>
            <tr>
              <th>商品説明文</th>
              <td><%= f.text_area :introduction %></td><br>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td><%= f.collection_select :genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--" %></td><br>
            </tr>
            <tr>
              <th>税抜価格</th>
              <td><%= f.text_field :price %>円</td><br>
            </tr>
            <tr>
              <th>販売ステータス</th>
              <td>
                <%= f.radio_button :is_active, true, checked: true %>販売中
                 <%= f.radio_button :is_active, false %>販売停止中<br>
              </td>
            </tr>
            <tr class="mx-auto">
            <td><%= f.submit "変更を保存", class:"btn btn-success" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>