<h1>Admin::商品一覧</h1>
<%= link_to new_admin_item_path, class:"btn btn-light rounded-circle p-0" do %>
<button style="width:2rem;height:2rem;">＋</button>
<% end %>


<table class="item_table">
  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </tr>
  <% @items.each do |item| %>
  <tbody>
    <tr>
      <td><%= item.id %></td>
      <td><%= link_to item.name, admin_item_path(item.id) %></td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td>
        <% if item.is_active == true %>
        販売中
        <% else %>
        販売停止中
        <% end %>
      </td>
    </tr>
  </tbody>
  <% end %>
  <%= paginate @items %>
</table>
