<div class="container">
  <div class="row">
      <h1>商品一覧</h1>
        <div class="text-right">
        <%= link_to "＋", new_admin_item_path, class:"btn btn-lg btn-light"%>
        </div>
      <table class="table">
          <tr>
            <th class="col-1">商品ID</th>
            <th class="col-4">商品名</th>
            <th class="col-2">税抜価格</th>
            <th class="col-3">ジャンル</th>
            <th class="col-2">ステータス</th>
          </tr>
        <% @items.each do |item| %>
        <tbody >
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td>
              <% if item.is_active == true %>
              <text class="text-success">販売中</text>
              <% else %>
              <text class="text-muted">販売停止中</text>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <div class="mx-auto">
      <%= paginate @items %>
      </div>
  </div>
</div>
