<div class="container">
  <div class="row">
    <div class="col-8">
    <h2 class="mt-5">商品新規登録</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
  <%= form_with model: @item, url: admin_items_path, method: :post, class:"row g-3 align-items-center" do |f| %>
    <div class="col-12">
      <div class="row mb-3">
        <div class="col-4">
        <%= f.label "商品名" %>
        </div>
        <div class="col-8">
        <%= f.text_field :name, class:"form-control" %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
        <%= f.label "商品画像", class:"col-form-label" %>
        </div>
        <div class="col-8">
        <%= f.file_field :image, accept: "image/*", class:"col-auto"%>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
        <%= f.label "商品説明文", class:"col-form-label" %>
        </div>
        <div class="col-8">
        <%= f.text_area :introduction, class:"form-control" %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
        <%= f.label "ジャンル", class:"col-form-label" %>
        </div>
        <div class="col-8">
        <%= f.collection_select :genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--" %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
        <%= f.label "税抜き価格", class:"col-form-label" %>
        </div>
        <div class="col-8">
        <%= f.text_field :price, class:"form-control" %>円
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-4">
        <%= f.label "販売ステータス", class:"col-form-label" %>
        </div>
        <div class="col-8">
        <%= f.radio_button :is_active, true, checked: true %>販売中
        <%= f.radio_button :is_active, false %>販売停止中
        </div>
      </div>
      <div class="col-12">
        <%= f.submit "新規登録", class:"btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>






