<div class="container">
<h4 class="mt-5">商品新規登録</h4>
  <div class="row">
    <div class="col-10">
          <%= form_with model: @item, url: admin_items_path(@item.id), class:"row g-3 align-items-center" do |f| %>
          <div class="row mb-3">
            <%= f.label "商品画像", class:"col-sm-4 col-form-label" %>
            <div class="col-sm-8">
            <%= f.file_field :image, accept: "image/*" %>
            </div>
          </div>

          <div class="row mb-3">
            <%= f.label "商品名", class:"col-sm-4 col-form-label" %>
            <div class="col-sm-8">
            <%= f.text_field :name, class:"form-control" %>
            </div>
          </div>

          <div class="row mb-3">
            <%= f.label "商品説明文", class:"col-sm-4 col-form-label" %>
            <div class="col-sm-8">
            <%= f.text_area :introduction, class:"form-control" %>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-auto">
            <%= f.label "ジャンル", class:"col-form-label" %>
            </div>
            <div class="col-auto">
            <%= f.collection_select :genre_id, Genre.all ,:id, :name, include_blank: "--選択してください--" %>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-auto">
            <%= f.label "税抜き価格", class:"col-form-label" %>
            </div>
            <div class="col-auto">
            <%= f.text_field :price, class:"form-control" %>円
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-auto">
            <%= f.label "販売ステータス", class:"col-form-label" %>
            </div>
            <div class="col-auto">
            <%= f.radio_button :is_active, true, checked: true %>販売中
            <%= f.radio_button :is_active, false %>販売停止中
            </div>
          </div>

             <%= f.submit "新規登録", class:"btn btn-success" %>
          <% end %>
    </div>
  </div>
</div>






