<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h2 class="my-5">管理者ログイン</h2>
      <%= form_with model: @admin, url:admin_session_path do |f| %> <!--1.forからwithに2.model書き換え3.引数不要-->
        <div class="row mb-4">
          <%= f.label :メールアドレス, class:"col-4 col-form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-8 form-control" %>
        </div>

        <div class="row mb-4">
          <%= f.label :パスワード, class:"col-4 col-form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"col-8 form-control" %>
        </div>
        <br>
        <div class="row">
          <div class="col-12 text-center">
            <%= f.submit "ログイン", class:"btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <%= render "admin/shared/links" %>
    </div>
  </div>
</div>
