
<div class="contaimer">
 <div class="row justify-content-center">
   <div class="col-lg-5 ">
    <div class="mt-5 col-auto">
      <%= image_tag "public_top.jpeg", size: "600x300", class:"mx-auto" %>
      <div class="card-img-overlay">
       <p class="text-white col-9 mt-5 mx-auto text-center"> <!--文字白、col-9、mt-5、中央よせ、中央揃え-->
        ようこそ、ながのCAKEへ！<br>
        このサイトはケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが<br>
        購入には会員登録が必要になります。<br>
        </p>
      </div>
     </div>
    </div>
  </div>
</div>
<div class="contaimer">
  <div class="row justify-content-center"><!--rowの中を中央寄せにする-->
    <div class="col-8">
      <div class="text-center">
      <h2 class="my-5 font-weight-bold">新着商品</h2>
      </div>
      <div class="row">
        <% @items.first(4).each do |item| %>
        <div class="col-lg-3"><!--横並びの表示のときはeach,endの中をcolで囲う-->
        <%= link_to image_tag item.image, size:"200x200" %><br>
        <%= item.name %><br>
        ¥<%= item.price.to_s(:delimited, delimiter: ',') %><br>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="text-right mt-3">
      <%= link_to "全ての商品を見る", public_items_path %>
      </div>
    </div>
  </div>
</div>
