<div class="row">
  <div class="col-8 col-offset-2 mx-auto">
    <h1 class="mt-5"><%= @customer.first_name %><%= @customer.last_name %>さんの会員情報編集</h1>
  </div>
</div>
<div class="container">
 <div class="row">
  <div class="col-8 col-offset-2 mx-auto">
      <%= form_with model: @customer ,url: admin_customer_path do |f| %>
    <table>
      <tbody>
      <tr>
        <th><%= f.label "会員ID", class:"form-label" %></th>
        <td><%= @customer.id %><br></td>
      </tr>

      <tr>
        <th><%= f.label "氏名", class:"form-label" %></th>
        <td>
         <div class="row">
          <div class="col">
            <%= f.text_field :first_name, class:"form-control" %>
          </div>
          <div class="col">
            <%= f.text_field :last_name, class:"form-control" %><br>
          </div>
         </div>
        </td>
      </tr>

      <tr>
       <th><%= f.label "フリガナ" %></th>
        <td>
         <div class="row">
          <div class="col">
          <%= f.text_field :first_name_kana, class:"form-control" %>
          </div>
          <div class="col">
          <%= f.text_field :last_name_kana, class:"form-control" %><br>
          </div>
         </div>
        </td>
      </tr>

      <tr>
      　<th><%= f.label "郵便番号" %></th>
        <td><%= f.text_field :postal_code, class:"form-control" %><br></td>
      </tr>

      <tr>
        <th><%= f.label "住所" %></th>
        <td><%= f.text_field :address, class:"form-control" %><br></td>
      </tr>

      <tr>
        <th><%= f.label "電話番号" %></th>
        <td><%= f.text_field :telephone_number, class:"form-control" %><br>
      </tr>

      <tr>
        <th><%= f.label "メールアドレス" %></th>
        <td><%= f.text_field :email, class:"form-control" %><br></td>
      </tr>

      <tr>
        <th><%= f.label "会員ステータス" %></th>
        <td>
        <%= f.radio_button :is_deleted, true, checked: true %>有効
        <%= f.radio_button :is_deleted, false %>退会<br>
        </td>
      </tr>

     </tbody>
    </table>
    <div class="container">
      <div class="row">
        <div class="col-8 col-offset-2 mx-auto mt-3">
        <%= f.submit "変更を保存", class:"btn btn-success" %>
        </div>
      </div>
    </div>
      <% end %>
  </div>
 </div>
</div>


