<div class="container">
<h1 class="my-5">配送先編集</h1>
  <div class="row">
    <div class="col-8">
    <%= form_with model: @address, url: public_address_path(@address.id) do |f| %>
    <div class="row mb-3">
      <%= f.label "郵便番号", class:"col-form-label col-3" %>
      <div class="col-9">
      <%= f.text_field :postal_code, class:"form-control" %>
      </div>
    </div>
    <div class="row mb-3">
      <%= f.label "住所", class:"col-form-label col-3"  %>
      <div class="col-9">
      <%= f.text_field :address, class:"form-control" %>
      </div>
    </div>
    <div class="row mb-3">
      <%= f.label "宛名", class:"col-form-label col-3"%>
      <div class="col-9">
      <%= f.text_field :name, class:"form-control" %>
      </div>
    </div>
    <div class="row">
    <%= f.submit "変更内容を保存", class:"btn btn-success mt-5 mx-auto" %>
    </div>
    <% end %>
    </div>
  </div>
</div>

