<h1>Public::ショッピングカート</h1>
<%= link_to "カートを空にする", public_all_destroy_path, method: :delete, class:"btn btn-danger" %>
<div class="table">
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
  </tr>
  <tbody>
    <% @cart_items.each do |cart_item| %>

    <td><%= image_tag cart_item.get_item_image(100,100) %><%= cart_item.item.name %></td>

    <td><%= cart_item.item.add_tax_price.to_s(:delimited, delimiter: ',') %></td>

    <%= form_with model: cart_item, url: public_cart_item_path(cart_item.id) do |f| %>
    <td><%= f.select:amount,[[cart_item.amount],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10]] %><%= f.submit "変更", class:"btn btn-success" %></td>
    <% end %>

    <td><%= cart_item.item.add_tax_price*cart_item.amount %></td>

    <td><%= link_to "削除する", public_cart_item_path(cart_item.id),method: :delete, class:"btn btn-danger" %></td>
    <% end %>
  </tbody>
</div>
<div class="table">
  <tr>
    <th>合計金額</th>
    <td><%= @total_price.to_s(:delimited, delimiter: ',') %></td>
  </tr>
</div>
<%= link_to "買い物を続ける", public_items_path(current_customer.id), class:"btn btn-primary" %>
<%= link_to "情報入力に進む", new_public_order_path(current_customer.id), class:"btn btn-primary" %>
