<h1>注文情報確認画面</h1>
<div class="table">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr><%= image_tag cart_item.item.image, size: "200x200" %><%= cart_item.item.name %></tr>
    <tr><%= cart_item.item.add_tax_price.to_s(:delimited, delimiter: ',') %></tr>
    <tr><%= cart_item.amount %></tr>
    <tr><%= ((cart_item.item.add_tax_price)*(cart_item.amount)).to_s(:delimited, delimiter: ',') %></tr>
    <% end %>
  </tbody>
</div>
<div class="table">
  <tbody>
    <tr>
      <th>送料</th>
      <td><%= @order.shipping_cost.to_i %></td>
    </tr>
    <tr>
      <th>商品合計</th>
      <td><%= @total_price.to_s(:delimited, delimiter: ',')  %></td>
    </tr>
    <tr>
      <th>請求金額</th>
      <td><%=  @order.total_payment.to_s(:delimited, delimiter: ',') %></td>
    </tr>
  </tbody>
</div>

<h5>支払方法</h5>
<%= @order.payment_method_i18n %>
<h5>お届け先</h5>
〒<%= @order.postal_code %>
<%= @order.address %>
<%=  @order.name %>

<%= form_with model: @order, url: public_orders_path do |f| %>
<%= f.hidden_field :payment_method, :value => @order.payment_method %>
<%= f.hidden_field :postal_code, :value => @order.postal_code %>
<%= f.hidden_field :address, :value => @order.address %>
<%= f.hidden_field :name, :value => @order.name %>
<%= f.hidden_field :customer_id, :value => @order.customer_id %>
<%= f.hidden_field :total_payment, :value => @order.total_payment %>
<%= f.hidden_field :shipping_cost, :value => @order.shipping_cost %>
<%= f.submit "注文を確定する", class:"btn btn-success" %>
<% end %>

