<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1>注文履歴一覧</h1>
      <div class="table ">
        <thead>
          <tr>
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @orders.each do |order| %>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              〒<%= order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %><br>
            </td>
            <% order.ordering_details.each do |order_detail| %>
            <td><%= order_detail.item.name %></td>
            <% end %>
            <td><%= order.total_payment.to_s(:delimited, delimiter: ',') %>円</td>
            <td></td>
            <td><%= link_to "表示する", public_order_path(order.id), class:"btn btn-primary" %></td>
            <% end %>
          </tr>
        </tbody>
      </div>
    </div>
  </div>
</div>
