<h1>Public::商品一覧(全<%= @items.count %>件)</h1>
<% @items.each do |item| %>
  <%= link_to public_item_path(item.id) do %>
  <%= image_tag item.get_item_image(200,200) %>
  <% end %>
  <%= item.name %>
  <span>¥<%= item.price.to_s(:delimited, delimiter: ',') %></span>
<% end %>
<%= paginate @items %>
